html {
  overflow-y: hidden;  /* убрал скролл на странице. */
}

body {
  width: 100vw;  /* указал ширину*/
  height: 100vh;  /* указал высоту */
  margin: 0;  /* указал внешний отступ*/
  background-image: url(wallpaperbetter.com_1920x1080.jpg);  /* загрузил фон*/
  background-repeat: no-repeat; /* фон не повторяется*/
  background-position: 0 0; /* указана начальная позиция элимента*/
  background-size: 100% 100%; /* размер фонового изображения*/
}
/*  знаю что к тегам нельзя привязывать свойчтва, но если это один элимент на странице, то можно*/
figcaption {
text-align: center;  /* этот тег идёт подписью к тегу figure. В этой строчке текст расположил по центру*/
}

/*  */
h1 {
  margin-left: 2%; /*  Сделал отступ от левого края, чтобы заголовок был красивым*/
}
figure { /* Этот тег делает паспарту к фото. Можно было сделать с помощью div, но сегодня это не актуально*/
  border: thin #c0c0c0 solid; /*  сделал ограду у фото*/
  display: flex; /* Применил технология флекса. Сегодня только на ней и гриах верстают*/
  flex-flow: column; /* Я это сделал, но пока технологию объяснить не могу*/
  padding: 5px; /*Внутренний отступ*/
  max-width: 220px; /*Минимальная ширина*/
  margin: auto; /*Внешний отступ установлен "авто"*/
  float:left; /* картинку привязал к левой стороне */
  margin-right: 2%; /*Внешний отступ справа*/
  margin-left: 1%; /*Внешний отступ слева*/
}

img {
  max-width: 220px; /* максимальная ширина */
  max-height: 150px; /* максимальная высота */
   
}

.content { /* Это своства к div */
  width: 40%; /*Ширину указал в процентах, чтобы на разных экранах работало*/
  background-color: rgb(245, 238, 227); /*Указал цает заднего фона*/
  margin: 10% auto; /* очень интересное свойство: отступ сверху и снизу 10 процентов справа и слева авто */
  padding-bottom: 2%; /* сделал внтуренний отступ от последнего абзаца, чтобы было красиво */
  border: 2px solid gray; /* цвет и толщина ограды */
}

.tex {
  margin: 0.5% 2% 0.5% 2%; /* отступ у абзацев */
  text-align: justify; /* растянул текст по ширине */
  font-family: cursive; /* стиль текста */

}
